@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

/* Ajuste general de pantalla */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cabin', sans-serif;
}

/* Permite deslizar cuando se hace click en los botones del menu*/

html {
    scroll-behavior: smooth;
}

/* Estilos para  M E N U   E N C A B E Z A D O */

.header-container {
    background-color: #fff;
    border: 0.5px solid #999;
    border-radius: 5px;
    color: #000;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-container header {
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container header ul {
    display: flex;
    list-style: none;
}

.header-container header ul li a{
    text-align: none;
    margin: 0px 15px;
    transition: 0.5s;
    text-decoration: none;
    font-size: 22px;
    color: #000;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 15px 20px;
}

.header-container li a:hover {
    color: #33CAFF;
    border-color: #33CAFF;
}

.nav-responsive {
    background-color: #33CAFF;
    font-size: 25px;
    color: black;
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*-----Botón inicio sesión-----*/

.header-container #Iniciar-seccion {
    background-color: #1ecf59;
    color: #fff;
}

.header-container #Iniciar-seccion:hover {
    color: #5D6D7E;
    border-color: #5D6D7E;
}


/* SECCIÓN MENU ENCABEZADO R E S P O N S I V E */
@media screen and (max-width:1030px) {
    nav{
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0px;
        top: 75px;
        background-color: #33CAFF;
        width: 300px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }

    nav.responsive ul li a {
        text-align: none;
        margin: 0px 15px;
        transition: 0.5s;
        text-decoration: none;
        font-size: 22px;
        color: #fff;
        border: none;
    }

    nav.responsive ul li #Iniciar-seccion {
        background-color: transparent;
        color: #000;
    }
}

/* Sección Q U I E N E S  S O M O S */

.quienes-somos {
    height: 120vh;
    display: flex;
    align-items: center;
}

.quienes-somos .container-quienes-somos {
    max-width: 1000px;
    margin: 0px 174px 0px 174px;
    text-align: left;
}

.quienes-somos .container-quienes-somos .welcome-title h1 {
    font-size: 55px;
}

.quienes-somos .container-quienes-somos strong {
    color: #33CAFF;
}

.quienes-somos .container-quienes-somos .welcome-title h2 {
    font-size: 25px;
    padding: 15px 0px 0px;
}

.quienes-somos .container-quienes-somos .text-box-quienes-somos h3 {
    padding: 45px 0px 15px;
    font-size: 30px;
}

.quienes-somos .container-quienes-somos .text-box-quienes-somos {
    font-size: 19.2px;
    line-height: 1.5em;
    font-weight: bold;
}

.quienes-somos .image-right {
    width: 50%;
    float: right;
    margin-right: 15px;
}

.quienes-somos .line-quienes-somos {
    border: 0.5px solid #A5A09E;
    margin-top: 100px;
}

/* Sección S E R V I C I O S */

.servicios {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.servicios .text-box-servicios{
    max-width: 1000px;
    margin: 50px 174px 0px 174px;
}

.servicios .text-box-servicios h3 {
    font-size: 30px;
}

/*----- Imagenes Banner de la sección servicios-----*/

.servicios .carousel-container {
    max-width: 900px;
    height: 300px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.servicios .carousel {
    display: flex;
    animation: scroll 10s infinite;
}

.servicios .carousel-item {
    min-width: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: auto;
}

.carousel .carousel-item .text-over-img-innovation {
    position: absolute;
    bottom: 310px;
    left: 60px;
    font-size: 30px;
  }

  .carousel .carousel-item .text-over-img-teamwork {
    position: absolute;
    top: 8px;
    left: 950px;
    width: 100%;
    font-size: 30px;
    color: #fff;
  }

    /* Botones Banner de la sección servicios */
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #33CAFF;
    border: 2px solid #33CAFF;
    padding: 15px;
    cursor: pointer;
    border-radius:  100%;
}

.prev-button:hover,
.next-button:hover {
    color: #fff;
    border: 2px solid #fff;
    padding: 16px;
    transition: 0.3s;
    box-shadow: -3px 0 5px 0 #33CAFF, 3px 0 5px 0 #33CAFF;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.carousel-container .bannerIndicators {
    background: 0 0;
    right: 20px;
    opacity: .9;
    padding: 4px 8px 4px 0;
    position: absolute;
    bottom: 25px;
}

    /* animación de desplazamiento Banner de la sección servicios*/

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

    /* Estilos dropdown de la sección servicios*/

#servicios .menu {
    max-width: 850px;
    margin: 20px auto;
    background: #F2F2F2;
    padding: 25px;
    box-shadow: 4px 4px 10px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 3px;
 }

#servicios .section-btn {
    position: relative;
    font-size: 22px;
    display: block;
    width: 100%;
    padding-top: 15px;
    margin-bottom: 5px;
    background-color: #F2F2F2;
    color: #000;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 3px;
}

#servicios .section-btn:hover {
    color: #33CAFF;
}

#servicios .section-btn::after {
    content: '\203A'; /* Unicode character for right arrow */
    position: absolute;
    right: 10px;
    transition: transform 0.3s ease-out;
}

#servicios .section-toggle:checked + .section-btn::after {
    transform: rotate(90deg);
}

#servicios .section-toggle {
    display: none;
}

#servicios .section-content {
    font-size: 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f9f9f9;
}

#servicios .section-toggle:checked + .section-btn + .section-content {
    max-height: 1000px;
}

#servicios .line-servicios {
    border: 0.5px solid #A5A09E;
    margin-top: 100px;
}

/* Sección  C O N T A C T A N O S */

#contactanos {
    background-image: url(images/contact_bg.png);
    padding: 25px;
}

#contactanos .contenido-seccion {
    margin: auto;
}

#contactanos h2 {
    font-size: 30px;
    padding: 25px;
}

#contactanos .fila {
    display: flex;
}

#contactanos .col {
    width: 50%;
    padding: 35px;
    position: relative;
}

#contactanos .col input, #contactanos .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: solid 1px #000;
    margin-bottom: 20px;
    font-size: 18px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#contactanos button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    position: relative;
    z-index: 10;
}

#contactanos button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #33CAFF;
    z-index: -1;
    transition: 0.8s;
}

#contactanos button:hover .overlay {
    width: 100%;
}

#contactanos .col img {
    padding-top: 50px;
    width: 100%;
}

.col{
    display: flex;
    flex-direction: column;
}

#contactanos .col .info {
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: #252a2e;
    color: #fff;
    padding: 20px;
    max-width: 350px;
    transform: translate(-50%, -50%);
}

#contactanos .col .info ul {
    list-style: none;
}

#contactanos .col .info ul li {
    margin-bottom: 20px;
}

#contactanos .col .info ul li i {
    color: #33CAFF;
    display: inline-block;
    margin-right: 20px;
}

/* Estilos para el  R E T O R N O */

#retorno .line-retorno {
    border: 0.5px solid #A5A09E;
    margin-top: -25px;
}

#retorno .arriba {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}

#retorno .arriba i {
    font-size: 40px;
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

#retorno .arriba i:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.1);
}

/* Estilos para el F O O T E R */

footer {
    background-color: #fff;
    color: #000;
    padding: 20px 0px;
    text-align: center;
}

.footer-container .contact-info {
    margin-bottom: 20px;
}

.footer-container .contact-info h3 {
    font-size: 20px;
}

.footer-container .contact-info p {
    font-size: 16px;
}

.footer-container .copyright p {
    font-size: 14px;
}

.footer-container .copyright p::before {
    content: "\00a9";
}

  /*iconos redes sociales footer*/

.footer-container .redes-sociales h2 {
    font-size: 20px;
}

.footer-container .redes-sociales .social-icon {
  background-color: #222;
  border-radius: 50%;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 5px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
  font-size: 20px;
}

.footer-container .redes-sociales .social-icon:hover {
  background-color: #33CAFF;
  transform: scale(1.1);
}